html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #151515;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  --font: "SF Pro Display", sans-serif;
  --grey-10: rgba(255, 255, 255, 0.1);
  --grey-30: rgba(255, 255, 255, 0.3);
  --grey-60: rgba(255, 255, 255, 0.6);
  --dark: #151515;
  --bold: 700;
}

.none {
  display: none !important;
}

.subtitle {
  font-size: 21px;
  color: var(--grey-60);
  font-weight: 500;
}

.title {
  font-size: 41px;
  font-weight: var(--bold);
  margin-top: 10px;
}

.btn {
  padding: 20px 18px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
  border: none;
  border-radius: 34px;
  transition: background 0.2s linear;
  font-family: var(--font);
  cursor: pointer;
  font-weight: 500;
  width: fit-content;
}

.label {
  font-size: 18px;
}

.input {
  margin-top: 15px;
  margin-bottom: 35px;
  font-family: var(--font);
  font-size: 18px;
  padding: 20px 18px;
  outline: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid var(--grey-30);
}

.input::placeholder {
  color: var(--grey-30);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
